<footer class="container-fluid site-footer mt-auto">
    <p class="m-0 text-secondary">© Tess Patterson <span class="currentYear"></span>. All rights reserved.</p>
</footer>

<script>
    const yearSpan = document.querySelector(".currentYear");
    yearSpan.innerHTML = new Date(Date.now()).getFullYear();
</script>