<section id="image">
    <div class="container">
        <div class="row">
            <div class="col-md-7 offset-md-1">
                <img class="img-fluid" src="./assets/tess_with_client.jpg" alt="">
            </div>
        </div>
    </div>
</section>