<a class="anchor" id="treatment" href=""></a>
<section id="treatment" class="treatment">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5 ">
                <h2>
                    Treatment
                </h2>
                    <%- page.data.treatmentBody %>
            </div>
            <div class="col-md-8 col-lg-5 offset-lg-1 mt-3 mt-md-0">
                <img class="img-fluid" src="<%= page.data.treatmentImage %>" alt="">
            </div>
        </div>
    </div>
</section>