<a class="anchor" id="treatment"></a>
<section class="treatment">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5 ">
                <h2>
                    Treatment
                </h2>
                <p>
                    <%- page.data.treatmentPara1Body %>
                </p>
                <ul>
                    <% for(let li of page.data.treatmentList){ %>
                        <li><%= li %></li>
                    <% } %> 
                </ul>
                <p>
                    <%- page.data.treatmentPara2Body %>
                </p>
            </div>
            <div class="col-md-8 col-lg-5 offset-lg-1 mt-3 mt-md-0">
                <img class="img-fluid" src="<%= page.data.treatmentImage %>" alt="">
            </div>
        </div>
    </div>
</section>