/*Vars*/
:root {
    --bg-light: rgba(255, 255, 255, 0.717);
    --clr-orange: #feeabc;
    --gradient-top: radial-gradient(circle at top right, var(--clr-orange) 0%, #717fb91c 35%);
    --gradient-bottom: radial-gradient(circle at bottom left, var(--clr-orange) 0%, #dde4ff23 40%);
    --gradient-top-m: radial-gradient(circle at top right, var(--clr-orange) 0%, #717fb91c 15%);
    --gradient-bottom-m: radial-gradient(circle at bottom left, var(--clr-orange) 0%, #dde4ff23 24%);
    --gradient-top-l: radial-gradient(circle at top right, var(--clr-orange) 0%, #717fb91c 25%);
    --gradient-bottom-l: radial-gradient(circle at bottom left, var(--clr-orange) 0%, #dde4ff23 35%);
}

/*general*/
section{
    padding: 10rem 0 10rem;
}

h1{
    font-size:4rem;
    letter-spacing: 0.2rem;
    line-height: 0.89;
}
h2{
    font-size:2rem;
    padding-bottom:1.6rem;
}
h3{
    font-size: 1.5rem;
    padding-bottom: 2rem;

}
h4{
    font-size: 1.5rem;
    color:rgb(55, 55, 55);
    padding-bottom: 0.3rem;
}

.light{
    background-color: var(--bg-light);
}


/*Components (in page order)*/

/*Nav*/
.nav-item{
    margin-right: 2rem;
}
.anchor{ /*Anchors for the links - so that it is not offset when a section is scrolled to.*/
    position:relative;
    display:block;
    top:-3.1rem;
}

/*home*/
.home{
    padding:0;
}
.home p{
    max-width: 60ch;
}

/*contact*/
.contact{
    padding-bottom: 2.5rem;
}


/*Media queries*/
@media(max-width:767px){
    section{
        padding: 5rem 0 7rem;
    }
    
    h1{
        font-size: 3rem;
    }
   
}
@media(max-width:576px){
    section{
        padding: 4rem 0 5rem;
    }
    #contact{
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }
    h1{
        font-size:2.5rem;
        letter-spacing: 0.2rem;
        line-height: 0.89;
    }
}

/*gradient background*/
@media(min-width: 1300px){
    .body-gradient{
        backdrop-filter: saturate(160%);
        background: var(--gradient-bottom), var(--gradient-top);
    }
}
@media(max-width: 1300px){
    .body-gradient{
        backdrop-filter: saturate(160%);
        background: var(--gradient-bottom-l), var(--gradient-top-l);
    }
}
@media(max-width: 1000px){
    .body-gradient{
        backdrop-filter: saturate(160%);
        background: var(--gradient-bottom-m), var(--gradient-top-m);
    }
}

.btn.bg-dark{
    transition:all 0.2s ease-in-out;
}
.btn.bg-dark:hover{
    background-color: rgb(79, 79, 79) !important;
}