---
layout: boilerplate.ejs
title: Submission Successful!
---
<section id="success">
  <div class="container pt-5">
    <div class="card" style="max-width: 600px; margin:0 auto;">
      <h5 class="card-header">Successfully submitted your enquiry.</h5>
      <div class="card-body">
        <span class="card-text">
          <%-collections.page[0].data.contactSuccessMessage%>
        </span>
        <a href="/" class="black-button my-3 d-block btn  btn-outline-secondary btn-lg">Go back to website</a>
      </div>
    </div>
  </div>
</section>