---
layout: boilerplate.ejs
title: yea dog
---
<section id="success" class="body-gradient">
    <div class="container pt-5">
        <div class="card" style="max-width: 600px; margin:0 auto;">
            <h5 class="card-header text-success">Successfully submitted your enquiry.</h5>
            <div class="card-body">
              <span class="card-text"><%-collections.page[0].data.contactSuccessMessage%></span>
              <a href="/" class="btn bg-dark text-light btn-lg">Go back to website</a>
            </div>
          </div>
    </div>
</section>